<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Textutilites</title>
  {% comment %} <link rel="stylesheet" href="styles.css" /> {% endcomment %}

  
  
</head>
<body >
  <h1>Enter Your Text Here</h1>
  <form action='/analyze/' method='get'>

  <textarea name="text" style="width: 1002px; height: 308px;"></textarea><br>

  <input type="checkbox" name="analyzebox" id="analyze">
  <label for="analyze">Remove Punctuations</label><br><br>

  <input type="checkbox" name="capitalized" id="capitalized">
  <label for="capitalized">Capitalized</label><br><br>

  <input type="checkbox" name="whitespaceremover" id="whitespaceremover">
  <label for="whitespaceremover">Remove White Sppace</label><br><br>

  <input type="checkbox" name="charCount" id="charCount">
  <label for="charCount">Count Total Character</label><br><br>
  <button type="submit">Analyze Text</button>
</form>


  
</body>
</html>